// COLORS
//------------------------------------------//
$light-blue: rgba(204, 213, 255, 1);
$blue: rgba(77, 157, 224, 1);
$light-pink: rgba(232, 183, 227, 1);
$peach: rgba(200, 132, 166, 1);
$pink: rgba(238, 42, 123, 1);

$white: #ffffff;
$light-gray: #F6F6F6;
$gray: #666666;
$blue-gray: #54687b;
$black: #000000;

// TYPOGRAPHY
//------------------------------------------//
$font-size: 1rem;
$line-height: 1.4;
$font-family: "Itim", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// WEIGHTS
//------------------------------------------//
$very-light: 100;
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

// BREAKPOINTS
//------------------------------------------//
$xxs-breakpoint: 430px;
$xs-breakpoint: 500px;
$sm-breakpoint: 640px;
$md-breakpoint: 800px;
$lg-breakpoint: 960px;
$xl-breakpoint: 1024px;
$x2-breakpoint: 1160px;