<!DOCTYPE html>
<html>
<head>
  <title>A Rachel Milette Website</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Rachel, Milette, Website, Web Developer">
  <meta name="description" content="This is a website that I coded from scratch to showcase my skills as a Frontend Developer">
  <meta name="author" content="Rachel Milette"/>
  <meta name="revised" content="11/3/2016"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="{% static "img/favicons/favicon-32x32.png" %}"> -->
  <link rel="stylesheet" type="text/css" href="/project_theme/static/css/main.css">
  <script src="/project_theme/static/js/jquery-3.1.1.min.js"></script>
  <script src="/project_theme/static/js/app.js"></script>
</head>
<body>
  <header>
    <nav>
      <div class="logo content">
        <a href="">
          <img src="/project_theme/static/media/logo.png">
        </a>
      </div>
      <div class="nav-links content">
        <a href="#about"> About</a>
        <a href="#skills"> Skills</a>
        <a href="#job-history"> Job History</a>
        <a href="#education"> Education</a>
        <a href="#contact"> Contact</a>
      </div>
      
    </nav>
  </header>

  <section class="bg-video">
    <div class="container">
      <video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" width="300" height="150">
        <source src="/project_theme/static/media/rose.mp4" type="video/mp4" />
        <source src="/project_theme/static/media/rose.ogv" type="video/ogg" />
        <source src="/project_theme/static/media/rose.webm" type="video/webm" />
      </video><!-- /video -->
    </div>
    <div class="overlay"></div>
    <div class="video-text">
      <img src="/project_theme/static/media/live-laugh-love-01.png">
    </div>

  </section>



  <section>
    <p>Lorem ipsum dolor sit amet, et usu quem solum erant. Ei scripta maiorum inciderint vel, veniam partem facilisi duo in, ad cum aeque sonet dignissim. Quo munere audire in, eu vide indoctum vel, at nec possim meliore. Singulis patrioque sea cu, discere consequuntur in vis.

Ad viderer accumsan consetetur vel, sed vero cibo ut. Ne dolorem vivendo duo, sit solet fabulas detraxit ad. Viderer invenire eu sit, ex nam mucius dolorem. Eam indoctum periculis ullamcorper et, no gubergren constituam has. Has in choro suavitate consectetuer, vel cibo consequat ne.

Ut mel utroque sadipscing. Ius vitae eirmod te. Eam mucius nominavi ea, et aliquam sapientem his, sale periculis ocurreret vis ea. Offendit argumentum vel id.

Vim ne tacimates evertitur. Porro vidisse vix ne. Id eum nulla deleniti recusabo, natum nostro ea cum. Pro dignissim forensibus theophrastus id, doctus eloquentiam qui eu. Modus utroque efficiendi no vix, quis suas iuvaret ius in. Ius primis suscipit ei, odio noluisse ad pri.

Id exerci mollis urbanitas nec. Ne quando integre tacimates has. Cum eruditi mnesarchum ex, eam laudem salutandi cu, mollis docendi expetendis vim te. Ad assueverit theophrastus eos, sit simul consectetuer ea, tota animal facilisis mel in. Te dicat aeque harum sit, sanctus abhorreant dissentiet et duo, volutpat iracundia et cum. Pro graece melius id. Qui iusto omittam ea.</p>
  </section>
</body>
</html>