<!DOCTYPE html>
<html>
<head>
  <title>A Rachel Milette Website</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Rachel, Milette, Website, Web Developer">
  <meta name="description" content="This is a website that I coded from scratch to showcase my skills as a Frontend Developer">
  <meta name="author" content="Rachel Milette"/>
  <meta name="revised" content="11/3/2016"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="{% static "img/favicons/favicon-32x32.png" %}"> -->
  <link rel="stylesheet" type="text/css" href="/project_theme/static/css/main.css">
  <script src="/project_theme/static/js/jquery-3.1.1.min.js"></script>
  <script src="/project_theme/static/js/app.js"></script>
</head>
<body>
  <header>
    <nav>
      <div class="logo content">
        <a href="">
          <img src="/project_theme/static/media/logo.png">
        </a>
      </div>
      <div class="nav-links content">
        <a href="#about"> About</a>
        <a href="#skills"> Skills</a>
        <a href="#job-history"> Job History</a>
        <a href="#education"> Education</a>
        <a href="#contact"> Contact</a>
      </div>
      
    </nav>
  </header>

  <section class="bg-video">
    <h1 class="visually-hidden">Live Laugh Laugh</h1>
    <div class="container">
      <video id="my-video" class="video" autoplay="autoplay" loop="loop" muted="" width="300" height="150">
        <source src="/project_theme/static/media/rose.mp4" type="video/mp4" />
        <source src="/project_theme/static/media/rose.ogv" type="video/ogg" />
        <source src="/project_theme/static/media/rose.webm" type="video/webm" />
      </video><!-- /video -->
    </div>
    <div class="overlay"></div>
    <div class="video-text">
      <img src="/project_theme/static/media/live-laugh-love-01.png">
    </div>
    <a href="#about"><i class="fa fa-chevron-down"></i></a>
  </section>

  <section id="about">
    <h1>About</h1>

  </section>
   <section id="skills">
      <h1>Skills</h1>
      <h2>Development</h2>
      Web Development: HTML5, CSS, Sass, JavaScript, JSON, Wordpress, Shopify, Adobe Photoshop, Adobe Illustrator
      <h2>Soft Skills / Communication</h2> 
      Tutoring/Client support: Working with Clients of all technical levels and training 
      Hackademy: Building apps, project management, working with groups
      Languages: Fluent in American Sign Language  
      <h2>Other Stuff Maybe Ill mention</h2>
      <p>Coursework, Northern Essex Community College, Haverhill MA
      Java Programming: Object oriented design, structured programming, and problem solving skills 
      C Programming:  Testing, debugging skills, and application development
      Networks/Security 
      Networking: Microsoft Sharepoint installation,  troubleshooting, configuring, and managing of users and documents 
      Computer Security/ Forensics: Backtrack and Kali Linux, FTK Imager, Hex Editor, steganography tools, snd restoration tools, system hardening, collecting, validating, and protecting evidence
      Operating Systems: Fluency in PC, Mac, and Linux operating systems, and bash shell scripting</p>
  </section>
   <section id="job-history">
    <h1>Job History</h1>
      Front End Web Developer, INHOUSE Worldwide; Portsmouth NH — January 2015—January 2016
      Utilized client side languages such as HTML, Sass, and JavaScript
      Managed version control using Github 
      Mobile Technician, Apple; Salem NH — August 2014—June 2015
      Responsible for hardware and software trouble shooting 
      Employed strong communication skills
      Specialist, Apple; Salem, NH — April 2012—August 2014 
      Trained new hires in all areas of customer service including conflict resolution and customer satisfaction
      Implemented Apple specific customer service workshops and trainings
      Administrative Assistant, Natural Expressions; Dracut, MA — January 2007—2012 
      Training of new hires in all areas of on-site photo sites 
      Responsible for maintaining wireless local networks and computers, Excellent Retoucher
  </section>
   <section id="education">
    <h1>Education</h1>
      Northern Essex Community College, Haverhill, MA
      Associates Degree in Computer Science, Associates Degree in Computer Information Technology  
      Computer Networking Certificate, Computer Security Certificate 
      Phi Theta Kappa Honor Society
  </section>
   <section id="contact">
  </section>

  <footer class="content">
    <div class="provided">
      <p>Video provided by
        <a href="https://www.videezy.com/nature/4396-rose-g-l-stock-video-hd" target="_Blank" title="Opens in new tab">Avecdi</a>
      </p>
    </div>
    <div class="copyright">
      &copy; <script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script> Rachel Milette
    </div>
  </footer>
</body>
</html>